<html>
	<body>
  <form action="/Vouchers/salvar" method="post">

                  <div class="bloco1">
                    <label id="move1" for="tCodigo"> CÓDIGO </label>
                    <input type="text" name="codigo" id="tCodigo" placeholder="lari100">
                  </div>

                  <div class="bloco2">
                    <label id="move2" for="tValor"> VALOR </label>
                    <input type="text" name="valor" id="tValor" placeholder="RS$ 20,00">
                  </div>

                  <div class="bloco3">
                    <label id="move3" for="tCampanha"> CAMPANHA </label>
                    <input type="text" name="campanha" id="tCampanha" placeholder="lariduartepedidos">
                  </div>


                  <div class="bloco4">
                    <label id="move4" for="tInicio"> INICIO </label>
                    <input type="text" name="inicio" id="tInicio" placeholder="06/06/2017">
                  </div>

                  <div class="bloco5">
                    <label id="move5" for="tFim"> FIM </label>
                    <input type="text" name="fim" id="tFim" placeholder="06/06/2019">
                  </div>


                  <div class="bloco6">
                    <label id="move6" for="tMax"> MAX </label>
                    <input type="text" name="max" id="tMax" placeholder="lari100">
                  </div>

                  <div class="bloco7">
                  <label id="move7" for="tQtd">QTDE UTILIZADA</label>
                  <input type="text" name="qtdUtilizada" id="tQtd" placeholder="10"> 
                  </div>


          

                  <div class="borderpurple">
                    
                    <div class="btCancelar">
                    <button id="cancel">Cancelar</button>  
                    </div>
                    
                    <div class="btSalvar">
                     <input type="submit" value="Enviar"/>
                    </div>
                    

                  </div>

                </form>
</body>

</html>